.movie-container{
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;

    display: inline-block;
    width: 47.5%;
}

.movie-img{
    border-radius: 8px;

    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.movie-notimg{
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    background-color: rgb(171, 28, 6);
    display: grid;
    place-items: center;
    color: white;
}
