.Loading-container {
    margin-right: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

.Loading-text {
    margin-right: 4px;
    margin-bottom: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
    border-radius: 10px;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}